<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>494051556145-8anouttufgcreob0gisc9d5f5gi0na9v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.494051556145-8anouttufgcreob0gisc9d5f5gi0na9v</string>
	<key>API_KEY</key>
	<string>AIzaSyCfYvbCQqYWNkEkbNKQH5qXzX1QMOboEi0</string>
	<key>GCM_SENDER_ID</key>
	<string>494051556145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oalshokri.chatAppClass</string>
	<key>PROJECT_ID</key>
	<string>add-fb-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>add-fb-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:494051556145:ios:a29298d31f720049d54e10</string>
</dict>
</plist>